* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    height: 200px;
    margin-bottom: 20px;
    margin-left: 50px;
}

button {
    color: white;
    background-color: #C51111;
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;

}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.logo-mario-luigi {
    height: 500px;

}

.caixa-principal {
    width: 40%;
    color: white;

}

.caixa-video {
    position: fixed;
    z-index: -1;
    top: 0;

}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;

}

.caixa-mae {
    display: flex;
    align-items: center;
    /*ajusta na vertical*/
    justify-content: space-around;
    /* ajusta na horizontal*/
    padding: 100px;
    /*distanciamento interno*/
    height: 91vh;

}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

.whatsapp-logo img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;

}

.instagram-logo img {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 90px;
    bottom: 0px;

}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: -30px;
    margin-top: 25px;


}

.header img {
    height: 60px;


}

.header a {
    color: white;
    font-size: 24px;
    cursor: pointer;

}

.header a:hover {
    color: #C51111;
    font-size: 26px;
    transition: 0.5s ease-in-out;

}

button:hover {
    color: black;
    font-size: 85%;
    opacity: 0.7;
    transition: 0.5s ease-in-out;
}

.formulario-fale-conosco {
    background-color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -300px;
    padding: 20px;
    border-radius: 5px;
    transition: left 1s ease-in-out;

}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f
}

textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 96vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visiblity 1s ease-in-out;

}

@media(max-width: 1100px) {
    .paragrafo {
        width: 89vw;
        position: relative;
        top: 7px;
        left: 16px;
    }

    .caixa-mae {
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    }


    .logo-mariobross {
        position: relative;
        top: -28px;
        left: -16px;
    }



    .caixa-principal {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .logo-mario-luigi {
        width: 175px;
        height: auto;
        margin: 0;
        position: relative;
        position: relative;
        bottom: 60px;
        left: 10px;

    }

    .header img {
        width: 50px;
        height: auto;
        margin-left: 10px;

    }

    .header {

        margin: 10px 0 0;

    }

    .header a {
        font-size: 20px;
    }

    .buttonShow {
        position: relative;
        top: 240px;
    }


    .instagram-logo img{
        right: 0px;
        bottom: 65px;
    }

}



/*  inicial
    top: 30%;
    left: -300px;

    final 
    top: 30%;
    left: 50%;
    transform: translateX(-50%);


    media query 




*/